<ng-template #content let-modal>
  <div class="modal-header bg-light">
    <p class="modal-title" id="modal-basic-title">Add new asset</p>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="add-asset-form">
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input 
            type="text" 
            class="form-control" 
            id="inputName" 
            name="name" 
            placeholder="Name..."
            ngModel
            required
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLatitude" class="col-sm-2 col-form-label">Latitude</label>
        <div class="col-sm-10">
          <input type="number" 
            class="form-control" 
            id="inputLatitude" 
            name="latitude" 
            placeholder="-10; -89.99; 0.000; 90.0 ..."
            ngModel
            required
            pattern="^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$"
          >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLongitude" class="col-sm-2 col-form-label">Longitude</label>
        <div class="col-sm-10">
          <input 
            type="number" 
            class="form-control" 
            id="inputLongitude" 
            name="longitude"
            placeholder="-10; -179.99; 0.000; 180.0 ..."
            ngModel
            required
            pattern="^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,6})?))$"
          >
        </div>
      </div>
      <div class="text-right">
        <button 
          type="button" 
          class="btn btn-warning text-light" 
          (click)="modal.dismiss('Cross click')"
        >
          Cansel
        </button>
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add</button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-success add-asset-btn" (click)="open(content)">Add Asset</button>
